body {
  background: #875105 url('../img/background.jpg') no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.ui.main.container {
  padding-top: 80px;
}

a.logo {
  font-family: 'Exo', sans-serif;
  color: #f33;
}

div.center.column {
  max-width: 450px;
}

.statement {
  background-color: rgba(255,255,255,.5);
  padding: 10pt;
}

.register {
  color:#0066CC;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

a.campaigns {
  color:red;
  font-size:16px;
  font-weight: bold;
}

ul.label {
  list-style-type: none;
}

#form3 label{
color:#556b2f;
font-size:18px;
}

#form3 input[type=text]:focus,#form3 textarea:focus{
outline: none;
background:#ffdab9;
}

#form3 input[type=text],#form3 textarea{
background:#f5f5dc;
border:none;
padding:5px 2px;
border:solid 1px #c0c0c0;
}


.dropdown:hover > .menu {
  display: flex;
}